@page "/"

<PageTitle>Index</PageTitle>
<div class="page">
    <main>
        <div class="image-background">
            <p class="title-index"> Welcome to DocuRISE. </p>
            <p class="title-index"> Document Exploration Made Easy.</p>
        </div>
    </main>
</div>