@page "/pdfViewer/{FileName}"
@inject HttpClient HttpClient

@if (PdfBytes != null)
{
    <embed src="@pdfDataUrl" type="application/pdf" width="100%" height="655px" />
}
else
{
    <p>No PDF data available.</p>
}

@code {
    private string DocumentPath { get; set; }
    [Parameter]
    public string FileName { get; set; }
    public byte[] PdfBytes { get; set; }
    public string pdfDataUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        PdfBytes = await HttpClient.GetByteArrayAsync($"/api/files/pdf/{FileName}");
        pdfDataUrl = $"data:application/pdf;base64,{Convert.ToBase64String(PdfBytes)}";
    }
   

}
